@import "./../../../../styles/variables";

.ic-org-create-container {
  box-shadow: 0em 0em 38px rgba(0, 0, 0, 0.9), inset 0px 0px 100px #656565;
  padding-bottom: 30px;
  @media only screen and (min-width: 650px) {
    width: 550px;
  }
  @media only screen and (max-width: 650px) {
    min-width: 100%;
  }
  .ic-org-body-header {
    font-size: 20px;
    font-weight: 600 ;;
    padding: 15px 15px;
    color: $app-primary-color;
    display: flex;
    justify-content: center;
  }
  .ic-form-fields,
  .ic-btn {
    padding: 10px 20px;
    min-width: 100%;

    &.ic-form-chips {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }

    .ic-form-items {
      display: flex;
      justify-content: space-between;
      padding: 25px 0;
    }

    .ic-item {
      width: 100%;
      padding-right: 20px;

      .ic-auto-input {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -o-user-select: text;
        user-select: text;
      }
    }
  }
}
