@import "./../../../../styles/variables";

.ic-org-create-container {
  .ic-org-body-header {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 15px;
    color: $app-primary-color;
    display: flex;
    justify-content: center;
  }
}
