@import "./../../styles/variables";

.ic-profile-layout {
  min-height: 100vh;

  .ic-profile-body-container {
    padding: 30px;
    background-color: #f8f8fd;
    min-height: calc(100vh - 80px);

    .ic-profile-container {
      display: flex;
      justify-content: center;
      padding-top: 50px;
      min-height: 550px;
    }
  }
}
