@import "./../../styles/variables";

.ic-dashboard-container {
  min-height: 100vh;
  .ic-header-container {
    height: 80px;
    box-shadow: 0 5px 3px -5px grey;
    display: flex;
    justify-content: space-between;

    .ic-header-name-wrapper {
      padding-left: 15px;
      display: flex;
      align-items: center;
      .ic-header-logo {
        img {
          width: 80px;
          height: 80px;
        }
      }
      .ic-header-name {
        font-size: 36px;
        font-weight: 600;
        color: $app-primary-color;
      }
    }
    .ic-profile {
      padding-right: 20px;
      display: flex;
      align-items: center;
      svg {
        height: 2rem;
        width: 2rem;
      }
    }
  }
  .ic-body-container {
    padding: 30px;
    background-color: #f8f8fd;
    min-height: calc(100vh - 80px);
  }
}
