@import "./../../styles/variables";

.ic-dashboard-container {
  min-height: 100vh;

  .ic-body-container {
    display: flex;
    background-color: #f8f8fd;
    min-height: calc(100vh - 80px);
  }
}
