@import "./../../../styles/variables";

.ic-profile-wrapper {
  box-shadow: 0em 0em 38px rgba(0, 0, 0, 0.9), inset 0px 0px 100px #656565;
  padding: 70px 30px 30px 30px;
  position: relative;
  @media only screen and (min-width: 550px) {
    width: 450px;
  }
  @media only screen and (max-width: 550px) {
    min-width: 100%;
  }

  .ic-profile-avatar-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    .ic-profile-avatar {
      color: #fff;
      font-size: 25px;
      font-weight: 500;
      justify-content: center;
      display: flex;
      align-items: center;
      width: 80px;
      height: 80px;
      box-shadow: 0em 0em 38px rgba(0, 0, 0, 0.9), inset 0px 0px 100px #656565;
      border-radius: 50%;
    }
  }
  .ic-profile-content-wrapper {
    .ic-form-fields {
      padding: 15px 20px;
      min-width: 100%;
    }
  }
}
