.spinner-backdrop {
  z-index: 1300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgray;
  opacity: 0.2;
  &.fullscreen {
    background: #000;
    opacity: 0.6;
  }
}
