@import "./../../styles/variables";

.ic-header-main-container {
  height: 80px;
  box-shadow: 0 5px 3px -5px grey;
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 550px) {
    .ic-header-name-wrapper {
      padding-left: 15px;
    }
    .ic-profile {
      padding-right: 20px;
    }
  }
  @media only screen and (max-width: 550px) {
    .ic-header-name-wrapper {
      padding-left: 0px;
    }
    .ic-profile {
      padding-right: 0;
    }
  }

  .ic-header-name-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    .ic-header-logo {
      img {
        transform: rotate(-45deg);
        width: 80px;
        height: 80px;
      }
    }
    .ic-header-name {
      font-size: 36px;
      font-weight: 600;
      color: $app-primary-color;
    }
  }
  .ic-profile {
    display: flex;
    align-items: center;

    .ic-dark-icon {
      margin-right: 15px;
    }
    .ic-signin {
      margin-right: 15px;
    }
    svg {
      height: 2rem;
      width: 2rem;
      color: $app-primary-color;
    }
    img {
      cursor: pointer;
      margin-right: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      z-index: 1;
    }
  }
}

.ic-dark .ic-header-main-container {
  box-shadow: -2em 1em 21px rgb(202 202 202 / 90%), inset 0 0 11px #3f3f3f;
}
